<html lang="en" data-ng-app="phoneApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Rashmi Phonebook</title>

		<!-- external js and links -->
		<link href="external/bootstrap-3.3.7-dist/bootstrap.min.css" rel="stylesheet">

		<script src="external/jquery-3.2.0.min.js"></script>
		<script src="external/angular-1.6.3.min.js"></script>
		<script src="external/angular-route.min.js"></script>
		
		<script src="external/ui-bootstrap-tpls-2.5.0.min.js"></script>
		<script src="external/bootstrap-3.3.7-dist/bootstrap.min.js"></script>

		<!--local files -->
		<link href="index.css" rel="stylesheet">
		<script src="phoneApp.js"></script>
		<script src="addContactController.js"></script>
		<script src="addContactToGroup.js"></script>
	</head>
	<body data-ng-controller="MainCtrl as mc">

		<div class="row" style="margin: 15px;">
			<ol class="breadcrumb">
				<li class="active">{{mc.name}}</li>
				<li>Phonebook</li>
			</ol>
			<div class="pull-left">
				<div class="btn-group">
					<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span>{{mc.filterGrp}} </span> <b class="caret"></b>
					</button>
					<ul class="Groups dropdown-menu" role="menu">
						<li data-ng-repeat="grp in mc.groups"><button class="btn btn-link" data-ng-click="mc.filterBy(grp.id)"> {{grp.name}} </button></li>
					</ul>
				</div>
			</div>
			<div class="pull-right">
				<button type="submit" class="btn btn-primary" data-ng-click="mc.addContact()">
					<span class="glyphicon glyphicon-plus-sign"></span> Add Contact
				</button>
			</div>
		</div>
		<div class="row" style="margin: 15px;">
			<!-- Panel for each contact -->
			<div class="panel panel-default" data-ng-repeat="contact in contactsList = (mc.contacts)">
			    <div class="panel-heading"><a ng-click="showDetails = !showDetails"> {{contact.firstName}} {{contact.lastName}}</a> <span data-ng-if="contact.birthdate && mc.isToday(contact.birthdate)" class="label label-danger"> <span class="glyphicon glyphicon-gift" ></span> Birthday Today</span>
			    	<!-- label for each group associated with -->
			    	<span class="label label-info" data-ng-repeat="grp in contact.groups"> #{{(mc.groups | filter : {id: grp.id})[0].name }}</span>
					<span class="label label-primary" data-ng-if="contact.company"> {{contact.company}}</span>
					
				<!-- action buttons -->
			    	<div class="btn-group pull-right">			    	   
         			   <button data-ng-click="mc.makeFavorite(contact)" class="btn btn-xs btn-link" title="favorite"><span data-ng-class="{'glyphicon glyphicon-heart': contact.favorite, 'glyphicon glyphicon-heart-empty': contact.favorite == 0}"></span></button>
         			   <button data-ng-click="mc.editContact(contact)" class="btn btn-xs btn-link" title="edit"><span class="glyphicon glyphicon-edit"></span></button>
         			   <button data-ng-click="mc.addToGroup(contact)" class="btn btn-xs btn-link" title="add to group"><span class="glyphicon glyphicon-user"></span></button>
         			   <button data-ng-click="mc.deleteContact(contact)" class="btn btn-xs btn-link" title="delete contact"><span class="glyphicon glyphicon-trash"></span></button>
         			</div>
			    </div>
			    <div class="panel-body" data-ng-show="showDetails">
			    	<!-- open address in google maps -->
<!-- 			    	<img src="http://maps.google.com/maps?daddr={{contact.address}}&zoom=12&size=600x300&maptype=normal" /> -->
			    	<a data-ng-if="contact.address" href="http://maps.google.com/maps?daddr={{contact.address}}" data-toggle="tooltip" target="blank" title="Open in map"> <span class="glyphicon glyphicon-map-marker"></span></a>{{contact.address}}<br>

					<!-- show all phone numbers and click to call -->
					<div ng-repeat="phone in contact.phones">
						<a href="tel:{{phone.number}}" title="call {{phone.type}}"><span class="glyphicon glyphicon-earphone"></span></a> call {{phone.type}} at {{phone.number}} <br>
					</div>

					<!-- open email client-->
					<a data-ng-if="contact.email" href="mailto:{{contact.email}}?Subject=Hello" title="email {{contact.firstName}}"><span class="glyphicon glyphicon-envelope"></span></a><span data-ng-if="contact.email"> Email at {{contact.email}}</span>
			    </div>
			</div>
			<!-- panel end -->

			<!-- no contacts in list -->
			<div data-ng-hide="mc.contacts.length">No contacts found</div>
		</div>
	</body>
</html>